@import url("https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libertinus Sans", sans-serif;
  color: #f2f2f2;
  min-height: 100vh;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("../Images/Backg.jpg") center/cover no-repeat;
  filter: blur(4px) brightness(0.6);
  z-index: -1;
}
/************************* Navbar *******************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  position: relative;
}
header img {
  width: 100px;
  height: auto;
}
.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  background-color: #a6652a;
  color: #f4f0eb;
  border: 1px solid #ccc;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #8c4b1a;
}

/* Mega Menu */
.mega-menu {
  position: relative;
}

.mega-link i {
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.mega-content {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #a6652a;
  width: 600px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 0.5rem;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

/* show when JS adds .open */
.mega-menu.open .mega-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* rotate icon when open */
.mega-menu.open .mega-link i {
  transform: rotate(310deg);
}

.mega-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.mega-column a {
  display: block;
  color: #f4f0eb;
  margin-bottom: 8px;
  text-decoration: none;
}

.mega-column a:hover {
  color: #e8cfae;
}
