/****************** Gallery ****************/
main {
  background-color: #fcf5e5;
  max-width: 700px;
  margin: auto;
  text-align: center;
  border-radius: 200px;
  filter: brightness(0.6);
}
.gallery-container {
  display: flex;
  flex-direction: column;
}
.gallery-container h1 {
  font-size: 3rem;
  color: #8c4b1a;
  text-align: center;
  margin-top: 40px;
}
.gallery-container h2 {
  font-size: 2rem;
  color: #8c4b1a;
  text-align: center;
  margin-bottom: 20px;
}
.collection-section {
  margin-bottom: 50px;
}
.gallery-item {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.images {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px 0;
  width: 100%;
  /* scrollbar-width: none; Firefox */
}
.images::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.images img {
  height: 200px;
  min-width: 200px; /* Ensures they don't shrink */
}

.images img:hover {
  transform: scale(1.05);
}
/* .gallery-item button {
  width: 100px;
  height: auto;
} */
.arrow {
  background: rgba(140, 75, 26, 0.8);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 30%;
  z-index: 10;
  position: absolute;
}
.arrow:hover {
  background: #8c4b1a;
}

.arrow.left {
  left: -20px;
}
.arrow.right {
  right: -20px;
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

#lightbox-img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  animation: zoomIn 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
