.review-title h1 {
  text-align: center;
  font-size: 2rem;
  color: #ffcc99;
  margin-bottom: 10px;
  font-weight: bold;
}
.review-title h2 {
  text-align: center;
  font-size: 1 rem;
  color: #ffcc99;
  margin-bottom: 30px;
  font-weight: bold;
}

.customer-reviews {
  margin-top: 30px;
  padding: 30px;
  border-top: 1px solid #f8cfa0;
  max-width: 900px;
  margin: auto;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.review-card {
  background-color: rgba(100, 100, 100, 0.2);
  border: 1px solid #f8cfa0;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.review-text {
  font-style: italic;
  color: #fff9ec;
  font-size: 1rem;
  margin-bottom: 12px;
}

.review-author {
  text-align: right;
  font-weight: bold;
  color: #ffdfba;
  font-size: 0.9rem;
}
